VITE_SERVER_BASE_URL=http://localhost:4000
VITE_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyClnzcci8V997acQhlpEiYhaLlz_ogR_Vc
VITE_PUBLIC_MAP_ID=ae2a9f4dc6d5b7c1
VITE_PERSPECTIVE_API_KEY=AIzaSyB0AuIlurrq5vDhh01Xfih4vX7REPb1nhU